.cadastro-info {
  padding: 30px 0px;
  color: #f5f5f5;
}

.cadastro-titulo {
  font-weight: 500;
  font-size: 46px;
  margin-bottom: 5px;
}

.cadastro-p {
  font-weight: 400;
  font-size: 20px;
}

.cadastro-main {
  background-image: url("../img/bg-cadastro.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 40vh;
}

.form-detalhe {
  margin-top: 30px;
}

small {
  font-size: 12px;
  padding-left: 10px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 500;
}

small::before {
  content: " ";
  width: 4px;
  height: 10px;
  left: 0;
  bottom: 2px;
  background: #df992f;
  position: absolute;
}

label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

span {
  font-size: 12px;
}

.form-control {
  height: 40px;
  width: 100%;
  background-color: #ddddddc2;
  border: 1px solid #a7a7a785;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 500;
}

.form-control:focus {
  outline: none;
  border: 2px solid #1b4e2e2f;
  background-color: #e8f0fe;
  box-shadow: none;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 30px;
  padding: 0px 50px;
}

.grid-form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.cadastro-btn {
  padding: 12px 100px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  max-width: fit-content;
  border: 1px solid #e2be88;
  background-color: #ffbe6286;
  color: #ae7d31;
  display: block;
  margin: 0 auto;
}

.cadastro-btn:hover {
  background-color: #ffc16bb4;
}

.fazerlogin {
  font-size: 12px;
  padding: 10px 0px 50px 0px;
  font-weight: 500;
}

.fazerlogin a {
  color: #006666;
  font-weight: 600;
}

.fazerlogin a:hover {
  color: #006666bb;
}

h6 {
  font-size: 12px;
  color: transparent;
}

@media (max-width: 768px) {
  .cadastro-titulo {
    font-size: 40px;
  }
  .cadastro-p {
    font-size: 16px;
  }
  .form-layout {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .grid-form {
    display: block;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 90%;
    margin-bottom: 2px;
    margin: 0 auto;
  }
  .cadastro-info {
    padding: 36px 0px;
  }
  .cadastro-titulo {
    font-size: 30px;
  }
  .cadastro-p {
    font-size: 16px;
  }
}
