#main-login {

  background-image: url("../img/bg-main-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 40vh;

  text-align: center;
  padding-top: 61px;
}

#main-login h1 {
  font-size: 46px;
  margin-bottom: 20px;
  color: white;
  font-weight: 500;
}

#main-login a {
  font-size: 20px;
  text-decoration: none;
  color: #BCE1AB;
}

#main-login p {
  color: white;
  font-size: 20px;
  display: inline-block;
}

#form-login {
  height: 342px;
}

@media screen and (max-width: 750px) {
  #main-login {  
    padding-top: 33px;
  }
  
  #main-login h1 {
    font-size: 42px;
  }

  #main-login p {
    display: block;
  }
}